* {
  font-size: 1.1rem;
  
}
.nav-logo {
  height: 20px;         /* controls size consistently */
  width: auto;          /* keeps aspect ratio sharp */
  border-radius: 3px;   /* optional, rounds corners */
  vertical-align: middle; /* keeps it aligned with text */
}

body {
  background:#020202;          
  font-family: monospace;
  margin: 0;
  color: #fcf6eb;               /* default warm text */
  margin-left: 26.2%;
  margin-right: 26.2%;

}

.nav {
  background: #006400;          /* dark green */
  border-bottom: 1px solid #228B22; /* brighter green accent */
  padding: 4px 15px;
  margin-top: 3px;
  display: flex;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.nav a {
  color: #ffffff;               /* white text */
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300 !important;
  font-size: 0.98rem;
}

.portfolio {
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  color:#a2fd90;
}
.innerText{
  font-family: sans-serif ;

}
h1{
  font-family: sans-serif;
  font-size: 1.5rem;
}
.nav > div {
  display: flex;               /* now <a> are flex items */
  gap: 19px;                   /* spacing between the links */
}

.nav a:hover {
  color: #c2f0c2;               /* pale green hover */
}
.test{
    margin-left: auto;
}

.t p{
   text-indent:20px;
}
.indent {
  margin-left: 2em;     /* pushes it over */
  display: inline-block; /* lets margin-left apply correctly */
}
.indent2 {
  margin-left: -0.4em;     /* pushes it over */
  display: inline-block; /* lets margin-left apply correctly */
}

.link-container{
      display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.link-container img {
  width: 17px;
  height: auto;     /* keeps aspect ratio crisp */
}




/* terminal prompt colors */
.terminal{
  color:#50fa7b;      /* green */

}


.cursor {
  display: inline-block;
  width: 0.6ch;       /* block width */
  height: 1em;        /* block height */
  background: #c2c2c2;
  margin-left: 2px;
  vertical-align: -2px;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}


.cursor {
  display: inline-block;
  width: 0.6ch;
  height: 2px;
  background: #c2c2c2;
  margin-left: 2px;
  vertical-align: middle;
  animation: blink 1s steps(1) infinite;
}